.shop-item{
  display:inline;
  cursor: pointer;
}

.shop-item-na{
  cursor: default;
  display:inline;
  opacity: 0.7;
}

.shopify-btns{
  margin:0 auto;
}

.coming-soon{
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  white-space: nowrap;
  color: #ffffff5c;
}

#shop-item-expand{
  position:absolute;
  width:100%;
  top:0;
  left:0;
}

#shop-item-expand-desktop{
  position:relative;
  width:100%;
}

.shop-item-zone{
  width:fit-content;
  display:inline;
}

.shop-item-controls{
  width:100%;
}

.shop-item-close{
  position:absolute;
  display:inline;
  left:0;

  z-index:100;

  color: #c4c4c4;
  font-size:2.5rem;
  padding:6px;
  cursor:pointer;
  /*display:none;*/
}

.invisible{
  visibility:hidden;
}

.hidden{
  display:none;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#xs-check{
  display:none;
}
#sm-check{
  display:none;
}
#md-check{
  display:none;
}





@media all and (max-width: 575.98px) {
  #xs-check{
    display:block;
  }
  #sm-check{
    display:none;
  }
  #md-check{
    display:none;
  }
}

@media all and (max-width: 767.98px) {
  #sm-check{
    display:block;
  }
  #md-check{
    display:none;
  }
}

@media all and (max-width: 991.98px) {
  #md-check{
    display:block;
  }
}

@media all and (min-width: 767.98px) and (min-height:700px) {
  .container-fluid{
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
  }
}
