<div id="xs-check"></div>
<div id="sm-check"></div>
<div id="md-check"></div>

<div class="container-fluid full-height">
  <div class="row" style="height:780px;">
    <div class="col-12 col-md-7 mt-0 mt-md-4 text-center" style="height:0px;">
      <img src="assets/grease.png" style="width:100%; max-width:500px;">
      <div id="shop-item-expand-desktop" class="d-none d-md-block mt-3">
        <div class="shop-item-zone text-center">
          <span class="helper"></span>
          <img class="shop-item-dest shop-item invisible hidden" src="assets/item1.gif" style="height:350px;">
          <img class="shop-item-clone-final shop-item-lg" src="assets/item1.gif" style="height: 350px; position: relative; top: unset; left: unset;">
        </div>
        <div class="shop-item-controls text-center mt-4">
          <p style="color: #e0e0e0;text-align: center;padding-bottom: 20px;font-size: 1.15em;">${{price}}</p>
          <span class="sold-out">SOLD OUT</span>
          <div class="shopify-btns" id='product-component1'></div>
          <p style="color: #e0e0e0;padding-top: 25px;font-size: 12px;padding-bottom: 15px;">PLEASE ALLOW 7-14 DAYS FOR SHIPPING</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row mt-3 mt-md-5 pt-0 pt-md-3">
        <div class="col-6 mb-4 mb-md-5 text-center shop-item-container">
          <img class='shop-item' itemnum="a" src="https://mjvitello.github.io/assets/item1.gif" style="height:150px;">
        </div>
        <div class="col-6 mb-4 mb-md-5 text-center shop-item-container">
          <img class='shop-item' itemnum="b" src="assets/item2.gif" style="height:150px;">
        </div>
        <div class="col-6 mb-4 mb-md-5 text-center shop-item-container">
          <img class='shop-item' itemnum="c" src="https://mjvitello.github.io/assets/item3.gif" style="height:150px;">
        </div>
        <div class="col-6 mb-4 mb-md-5 text-center shop-item-container">
          <img class='shop-item' itemnum="d" src="assets/item4.gif" style="height:150px;">
        </div>
        <div class="col-6 mb-4 mb-md-5 text-center">
          <img class='shop-item shop-item-na' itemnum="e" src="assets/item5.gif" style="height:150px;">
          <span class="shop-item shop-item-na coming-soon">COMING SOON</span>
        </div>
      </div>
      <div id="shop-item-expand" class="invisible d-block d-md-none mt-3 mt-md-5 pt-0 pt-md-3 text-center">
        <div class="shop-item-zone text-center" style="position:relative;">
          <div class="shop-item-close">×</div>
          <span class="helper"></span>
          <img class="shop-item-dest shop-item invisible" src="assets/item1.gif" style="height:350px;">
        </div>
        <div class="shop-item-controls text-center mt-4">
          <p style="color: #e0e0e0;text-align: center;padding-bottom: 20px;font-size: 1.15em;">${{price}}</p>
          <span class="sold-out">SOLD OUT</span>
          <div class="shopify-btns" id='product-component2'></div>
          <p style="color: #e0e0e0;padding-top: 25px;font-size: 12px;padding-bottom: 15px;">PLEASE ALLOW 7-14 DAYS FOR SHIPPING</p>
      </div>
    </div>
  </div>
</div>
