<div class="container-fluid full-height">
  <div class="row" style="height:100%;">
    <div class="col-12 col-md-12 mt-0 mt-md-4 text-center">
      <img src="assets/grease.png" style="width:100%; max-width:500px;">
    </div>
  </div>
  <div class="absolute-center" style="width:390px">
    <div class="row">
      <div class="col-6">
        <a href="" [routerLink]="['/shop']">
          <img class='home-item' src="assets/black_hoodie_crop.gif" style="height:150px;">
          <p>SHOP</p>
        </a>
      </div>
      <div class="col-6">
        <a href="" [routerLink]="['/lookbook']">
          <img class='home-item' src="assets/lookbook-icon2.png" style="height:115px;margin-top:35px;opacity: 0.8;">
          <p>LOOKBOOK</p>
        </a>
      </div>
    </div>
  </div>
</div>
